<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/chooseIndustry.css">
    <title>资产规模</title>
</head>
<script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
<script>
    Raven.config('https://f35430a6b7df4064b1aabcfe0bf9e6ae@sentry.io/265570').install();
</script>

<body>

    <div class="main">
        <ul> </ul>
    </div>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/pubilc.js"></script>
    <script src="../js/chooseAsset.js"></script>

</body>

</html>