<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/chooseMainBusiness.css">
    <title>主营业务</title>
</head>
<script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
<script>
    Raven.config('https://f35430a6b7df4064b1aabcfe0bf9e6ae@sentry.io/265570').install();
</script>

<body>

    <div class="main">
        <div class="content">
            <span class="businessBox"></span>
            <input type="text" placeholder="请输入主营业务">
        </div>


        <ul>

        </ul>
    </div>
    <div class="subBtnBox">
        <button type="submit" class="submitBtn" id="TopmodalBtn">保&nbsp;存</button>
    </div>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/pubilc.js"></script>
    <script src="../js/chooseMainBusiness.js"></script>
</body>

</html>