<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="../css/addBusiness.css">
    <title>编辑企业</title>

</head>
<!-- <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
<script>
    Raven.config('https://f35430a6b7df4064b1aabcfe0bf9e6ae@sentry.io/265570').install();
</script> -->

<body>
    <div class="main">
        <div class="inputBox">
            <label>公司名称</label>
            <div class="info userBox">
                <input type="text" placeholder="请输入公司名称" class="user_name">
            </div>
        </div>
        <div class="inputBox">
            <label>职位</label>
            <div class="info positionBox">
                <a href="#"></a>
                <span class="user_sex"></span>
            </div>
        </div>
        <div class="inputBox">
            <label>所处行业</label>
            <div class="info industryBox">
                <a href="#"></a>
                <span class="hometown"></span>
            </div>
        </div>
        <div class="inputBox">
            <label>主营业务</label>
            <div class="info businessBox">
                <div class="busBox">
                    <span class="businessBg">请选择</span>
                </div>
                <a href="#"></a>
            </div>
        </div>
        <div class="inputBox">
            <label>资产规模</label>
            <div class="info assetBox">
                <a href="#"></a>
                <span class="city"></span>
            </div>
        </div>
        <div class="inputBox">
            <label>信息简介</label>
            <div class="info introBox">
                <a href="#"></a>
                <span class="other_instructions"></span>
            </div>
        </div>
    </div>
    <div class="subBtnBox">
        <button type="submit" class="submitBtn">保&nbsp;存</button>
        <button type="button" id="TopmodalBtn">删&nbsp;除</button>
    </div>


    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/pubilc.js"></script>
    <script src="../js/editBusiness.js"></script>

</body>

</html>