<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/myBusiness.css">
    <title>我的企业</title>
</head>
<script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
<script>
    Raven.config('https://f35430a6b7df4064b1aabcfe0bf9e6ae@sentry.io/265570').install();
</script>

<body>
    <!-- <div class="header">
        <a href="../index.html"></a>
        我的企业
    </div> -->
    <div class="main">
        <div class="topbanner">
            请提交您当前任职的企业或拥有的多家企业
        </div>
        <ul class="businessBox">
        </ul>
        <a class="getMore" href="./addBusiness.html?state=1">添加企业</a>
    </div>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/pubilc.js"></script>
    <script src="../js/myBusiness.js"></script>
</body>

</html>